@use "../global/" as *;

.hero-section{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, #030e66, #2c0042, #2a0026, #1f0012, #000000);
}

.hero-content{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    &__text {
        font-size: $h1-size;
        color: $color-white;
        max-width: 104rem;
        height: fit-content;
        text-align: center;
        text-transform: uppercase;
        line-height: 1.1;
        position: relative;
        margin: 0 auto;
    }

    span{
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        background-image: $color-golden-brown;
    }
}

.btc-float{
    position: absolute;
    top: -190px;
    animation: move 3s infinite;
    left: -277px;

    @media (max-width: 1200px) {
        left: -200px;
      }
    @media (max-width: 1000px) {
        left: -160px;
    }
    @media (max-width: 900px) {
        display: none;
    }

}

.eth-float{
    position: absolute;
    top: -190px;
    animation: move 3s infinite;
    right: -277px;
    @media (max-width: 1200px) {
        left: -200px;
      }
    @media (max-width: 1000px) {
        left: -160px;
    }
    @media (max-width: 900px) {
        display: none;
    }
}

@keyframes move {
    0%,
    100% {
        transform: translateY(0) scale(0.14);
    }
    50% {
        transform: translateY(-20px) scale(0.14);
    }
}

.coin-slider{
    max-width: 100rem;
    height: 21rem;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    margin: 0 auto;
    text-align: center;
    margin-top: 3rem;

    @media (max-width: 750px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 2rem;
      }
    
    @media (max-width: 600px) {
        display: none;
    }
}

.slider-coin {
    font-size: $text-normal;
    color: $color-white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 20rem;
    height: auto;
    user-select: none;

    @media (max-width: 750px) {
        margin: 0 auto;
    }

    img {
        width: 9rem;
        height: 9rem;
        margin-bottom: 1rem;
    }
    &__name{
        font-weight: 600;
        font-family: $big-font;
    }

    &__price {
        font-weight: 600;
        margin-top: 0.5rem;
        font-size: $h4-size;
    }

    span {
        color: $green;
    }
}

.red-text {
    color: red !important;
}
  
.green-text {
    color: $green !important;
}