// colors
$color-white: #f3f2f4;
$bg-black: #000000;
$green: rgb(14, 203, 129);
$color-golden-logo: #FDD02E;
$color-golden-brown: linear-gradient(221deg, rgba(255,227,3,1) 2%, rgba(255,197,3,1) 42%, rgba(255,167,3,1) 69%);
$color-dark-brown: linear-gradient(to right top, #513d06, #775705, #a17103, #ce8c01, #ffa701);;
$color-bg-gradient: linear-gradient(to bottom, #2c0042, #2a0026, #1f0012, #000000);
